doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title
      block title
        | Landing 01

    meta(http-equiv='X-UA-Compatible', content='chrome=1')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    //- GLOBAL JAVASCRIPTS
    script(src='http://localhost:3030/livereload.js')

    //- APP JAVASCRIPTS
    script(src='javascripts/base/jquery-2.1.4.min.js')
    script(src='javascripts/base/throttle_debounce.js')
    script(src='javascripts/base/jquery.data-role.js')
    script(src='javascripts/base/scroll-disable.js')
    script(src='javascripts/base/easing.js')
    script(src='javascripts/base/log.js')
    script(src='javascripts/app.js')

    //- BASE CSS
    link(rel='stylesheet', type='text/css', href='stylesheets/base/reset.css',     media='screen')
    link(rel='stylesheet', type='text/css', href='stylesheets/base/css_frame.css', media='screen')
    link(rel='stylesheet', type='text/css', href='stylesheets/base/headers.css',   media='screen')
    link(rel='stylesheet', type='text/css', href='stylesheets/base/tags.css',      media='screen')

    //- LAYOUT CSS
    link(rel='stylesheet', type='text/css', href='stylesheets/layouts/landing-01/layout.css', media='screen')

    //- SPECIFIC CSS
    link(rel='stylesheet', type='text/css', href='stylesheets/landing-01/main.css', media='screen')

    block open_graph

    //if lt IE 9
      script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')

  body
    block main_content

    //- FONTS
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic&subset=cyrillic-ext,latin,latin-ext,cyrillic' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css')
